@import 'tailwindcss';

@theme {
  --color-primary: #e0a645;
  --color-primary-hover: #d4962d;
  --color-gray-light: #6c757d;
  --color-gray-medium: #999999;
  --color-gray-dark: #333333;
  --color-dark: #212020;
  --color-dark-secondary: #2c3e50;
}
